#nav-bar {
  display: flex;
  height: 120px;
  width: 100%;
  padding: 0 1.5em;
  background-color: orange;
  background-image: url('../images/45-degree-fabric-light.png');
  justify-content: space-between;
  align-items: center;
  position: fixed;
  .header {
    font-family: 'Bungee', cursive;
    font-size: 2em;
    color: #ffffff;
  }

  .compose {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    a {
      position: relative;
    }
    i {
      color: red;
      height: 40px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  #nav-bar {
    background-color: #4056a1;
    background-image: none;
  }
}
