#personal-info {
  height: 520px;
  width: 100%;
  display: flex;
  padding-top: 120px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  flex-direction: column;
  background-color: orange;
  background-image: url('../images/45-degree-fabric-light.png');
}

div#name {
  height: 50px;
  align-items: flex-start;
  color: white;
  top: 0%;
}
div#name h2 {
  align-content: flex-start;
}

@media only screen and (min-width: 1024px) {
  #personal-info {
    height: 400px;
    max-width:550px;
    margin-top: 250px;
    margin-left: 50px;
    margin-right: 100px;
    padding: 50px;
  }
}