.container #new-tweet {
  align-items: center;
  justify-content: center;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
}
#tweet-form {
  width: 100%;
}

#tweet-text {
  border: none;
  border-bottom: 3px solid gray;
  resize: none;
  height: 50px;
  width: 100%;
  color: #555149;
  background-color: #f4f1ec;
  
}


.submit-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  font-family: 'Bungee', cursive;
  color: #555149;
}

#placeholder-text {
  color: #555149;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.submit-row .tweet-button {
  color: white;
  background-color: #4056a1;
  border: none;
}