#new-tweet {
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    display: none;
    flex-direction: column;
    padding-top: 45px;
    width: 100%;
}

#tweet-form {
    width: 100%;
}

#tweet-text {
    border: none;
    border-bottom: 3px solid gray;
    resize: none;
    height: 50px;
    width: 100%;
    color: #555149;
    background-color: #f4f1ec;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;

}

::placeholder {
    font-weight: 600;
    color: #555149;
    font-family: 'Source Sans Pro', sans-serif;
}

#error-box {
    margin-top: 30px;
    margin-bottom: 30px;
    display: none;
    width: 100%;
    border: 3px solid red;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

#error-message {
    margin: 15px;
    color: red;
}

.submit-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    font-family: 'Bungee', cursive;
    color: #555149;
}

.tweet-button {
    color: white;
    background-color: #4056a1;
    border: none;
}